<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook social-icon"></i>
            <a href="https://www.instagram.com/_yaseen_.32?igsh=OXR3ZWdqOW45bWE=" target="_blank" rel="noopener noreferrer" class="social-link">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/s-mahammed-yaseen-8093b32a6" target="_blank" rel="noopener noreferrer" class="social-link">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
         <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>